@model HomeViewModel
@if (Model.OldOpenCases.Any())
{
    <div class="row">
        <div class="col-md-12">
            <h2> The following cases are over 60 days old and do not have a Volunteer Attorney</h2>
            @foreach (var oldOpenCase in Model.OldOpenCases)
            {
                <div class="col-md-3">
                    <div class="alert alert-danger">
                        <a asp-action="Details" asp-controller="Case" asp-route-id="@oldOpenCase.CaseId"><strong>@oldOpenCase.ClientName</strong></a><br />
                        @oldOpenCase.CaseType <br />
                        @oldOpenCase.CaseCreatedDate.ToShortDateString()
                    </div>
                </div>
            }

        </div>
    </div>
}
<div class="row">
    <div class="col-md-6">
        <h2>Active Cases without Volunteers</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Case Type</th>
                    <th>Assigning Attorney</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var modelOpenCase in Model.OpenCases)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => modelOpenCase.ClientName)</td>
                        <td>@Html.DisplayFor(m => modelOpenCase.CaseType)</td>
                        <td>@Html.DisplayFor(m => modelOpenCase.AssigningAttorneyName)</td>
                        <td><a class="btn btn-primary" asp-action="Details" asp-controller="Case" asp-route-id="@modelOpenCase.CaseId">Go To Case</a><br /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Upcoming Case Events</h2>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Event</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventItem in Model.UpcomingCaseEvents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(e => eventItem.ClientName)
                        </td>
                        <td>
                            @Html.DisplayFor(e => eventItem.Event)
                        </td>
                        <td>
                            @Html.DisplayFor(e => eventItem.EventDate)
                        </td>
                        <td>
                            @if (eventItem.AssignedAttorneyId != 0)
                            {
                                <a id="@eventItem.AssignedAttorneyId" href="#" class="AttorneyContactInfo">Attorney Contact</a><br />
                            }
                            else
                            {
                                <span class="label label-danger">No Volunteer Attorney</span><br />
                            }
                            <a asp-action="Details" asp-controller="Case" asp-route-id="@eventItem.CaseId">Go To Case</a><br />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div id="modalWrapper" class="modal fade" tabindex="-1" role="dialog"></div>

<script>

    $(".AttorneyContactInfo").click(function () {
        var id = this.id;
        AttorneyContactInfoModal(id);
    });
</script>