@model List<Person>


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Person Search</h4>
        </div>
        <div class="modal-body">
            <table class="table" id="PersonTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Nationality</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @Html.HiddenFor(i => item.DateOfBirth)
                            @Html.HiddenFor(i => item.Gender)
                            <td class="FullName">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td class="Nationality">
                                @Html.DisplayFor(modelItem => item.Nationality)
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary PersonSearchModalChoose" id="@item.Id">
                                    <span class="glyphicon glyphicon-check"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>


<script>
    $().ready(function () {
        $("#PersonTable").DataTable();
        $('#modalWrapper').modal('show');
    });
</script>