@model MemigrationProBonoTracker.Models.PersonViewModel.PersonContactInfoViewModel


    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Model.PersonName</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-6">
                <ul>
                    @foreach (var item in Model.PhoneNumbers)
                    {
                        <li>@Html.DisplayFor(i => item.Number) -  @Html.DisplayFor(i => item.Type)</li>
                    }
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    @foreach (var item in Model.PersonAddresses)
                    {
                        <li>
                            <address>
                                @Html.DisplayFor(i => item.StreetAddress)<br />
                                @Html.DisplayFor(i => item.City) @Html.DisplayFor(i => item.State), @Html.DisplayFor(i => item.ZipCode)<br />
                            </address>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-12"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div>
        </div>
    </div>
</div>

<script>
    $().ready(function () {
        $('#modalWrapper').modal('show');
    });
</script>