@model Person

<form asp-action="Edit">
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <div class="row panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Person</h2>
            </div>
            <div class="col-lg-12">
                <span asp-validation=""></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label asp-for="FirstName" class="col-md-8"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="LastName" class="col-md-8"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label asp-for="DateOfBirth" class="col-md-8 "></label>
                        <input asp-for="DateOfBirth" class="form-control datepickerpast" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="Gender" class="col-md-8 "></label>
                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<PBTEnums.Gender>()" class="form-control"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label asp-for="Nationality" class="col-md-8 "></label>
                        <select asp-for="Nationality" asp-items="Html.GetEnumSelectList<PBTEnums.Country>()" class="form-control"></select>
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="AlienNumber" class="col-md-8 "></label>
                        <input asp-for="AlienNumber" class="form-control" />
                        <span asp-validation-for="AlienNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Phone Numbers</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="col-md-8">Number</label>
                        <input asp-for="@Model.Phone.Number" class="form-control phonemask" />
                        <span asp-validation-for="@Model.Phone.Number" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label class="col-md-8">Phone Type</label>
                        <select asp-for="@Model.Phone.Type" asp-items="Html.GetEnumSelectList<PBTEnums.NumberType>()" class="form-control"></select>
                        <span asp-validation-for="@Model.Phone.Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Address</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <label class="col-md-8">Address</label>
                        <input asp-for="@Model.Address.StreetAddress" class="form-control" />
                        <span asp-validation-for="@Model.Address.StreetAddress" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-8">City</label>
                        <input asp-for="@Model.Address.City" class="form-control" />
                        <span asp-validation-for="@Model.Address.City" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label class="col-md-8">State/Region</label>
                        <input asp-for="@Model.Address.State" class="form-control" />
                        <span asp-validation-for="@Model.Address.State" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-8">Zip/Postal Code</label>
                        <input asp-for="@Model.Address.ZipCode" class="form-control col-md-10" />
                        <span asp-validation-for="@Model.Address.ZipCode" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-8">Country</label>
                        <select asp-for="@Model.Address.Country" asp-items="Html.GetEnumSelectList<PBTEnums.Country>()" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>


        <div class="row panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Person Notes</h2>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 textwrapper">
                    <textarea cols="2" rows="8" asp-for="Notes" class="form-control"></textarea>
                    <span asp-validation-for="Notes" class="text-danger" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <a asp-action="Index">Back to List</a>
               @if (Model.Id != 0)
               {
                <a class="delete" id="@Model.Id">Delete</a>
               }
                <input type="submit" value="Save" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
</form>

<script>
    $().ready(function () {
        $(".phonemask").mask("(999) 999-9999");
        $("#AlienNumber").mask("A 999-999-999");
        var dob = new Date('@Model.DateOfBirth');
        console.log(dob);
        var datestr = moment(dob).format("YYYY-MM-DD");
        console.log(datestr);
        document.getElementById('DateOfBirth').value = datestr;
        $(".delete").click(function () {
            var id = this.id;
            console.log(id);
            if (confirm('Are you sure you want to DELETE this person?')) {
                $.ajax({
                    url: '/People/Delete/',
                    type: 'POST',
                    data: {
                        "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val(),
                        id: id
                    },
                    success: function (data) {
                        if (data != null && data.success) {
                            var tr = $("." + id).closest('tr');
                            tr.css("background-color", "#FF3700");
                            tr.fadeOut(400, function () { tr.remove(); });
                        } else {
                            console.log(data);
                        }
                    },
                    failure: function (data) {
                        console.log(data);
                    }
                });
            }
        });
    });
</script>