@model Person

<form asp-action="Edit">
    <div class="form-horizontal">

        <input type="hidden" asp-for="Id" />
        <div class="row panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Person</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label asp-for="FirstName" class="col-md-8"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="LastName" class="col-md-8"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label asp-for="DateOfBirth" class="col-md-8 "></label>
                        <input asp-for="DateOfBirth" class="form-control datepickerpast" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="Gender" class="col-md-8 "></label>
                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Enums.Gender>()" class="form-control"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label asp-for="Nationality" class="col-md-8 "></label>
                        <select asp-for="Nationality" asp-items="Html.GetEnumSelectList<Enums.Country>()" class="form-control"></select>
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="row panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Phone Numbers</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="col-md-8">Number</label>
                        <input asp-for="@Model.PhoneList[0].Number" class="form-control phonemask" />
                        <span asp-validation-for="@Model.PhoneList[0].Number" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label class="col-md-8">Phone Type</label>
                        <select asp-for="@Model.PhoneList[0].Type" asp-items="Html.GetEnumSelectList<Enums.NumberType>()" class="form-control"></select>
                        <span asp-validation-for="@Model.PhoneList[0].Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Address</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <label class="col-md-8">Address</label>
                        <input asp-for="@Model.AddressList[0].StreetAddress" class="form-control" />
                        <span asp-validation-for="@Model.AddressList[0].StreetAddress" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-8">City</label>
                        <input asp-for="@Model.AddressList[0].City" class="form-control" />
                        <span asp-validation-for="@Model.AddressList[0].City" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label class="col-md-8">State/Region</label>
                        <input asp-for="@Model.AddressList[0].State" class="form-control" />
                        <span asp-validation-for="@Model.AddressList[0].State" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-8">Zip/Postal Code</label>
                        <input asp-for="@Model.AddressList[0].ZipCode" class="form-control col-md-10" />
                        <span asp-validation-for="@Model.AddressList[0].ZipCode" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-8">Country</label>
                        <select asp-for="@Model.AddressList[0].Country" asp-items="Html.GetEnumSelectList<Enums.Country>()" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>


        <div class="row panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Case Notes</h2>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 textwrapper">
                    <textarea cols="2" rows="8" asp-for="Notes" class="form-control"></textarea>
                    <span asp-validation-for="Notes" class="text-danger" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <a asp-action="Index">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
</form>

<script>
    $().ready(function() {
            $(".phonemask").mask("(999) 999-9999");
        });
</script>