@model MemigrationProBonoTracker.Models.CaseViewModels.CaseListViewModel

<h2>@Model.Title</h2>
<table class="table table-striped table-hover" id="CaseTable">
    <thead>
        <tr>
            <th>
                Client Name
            </th>
            <th>
                Case Type
            </th>
            <th>
                Assigning Attorney
            </th>
            <th>
                Working Attorney
            </th>
            <th>
                Next Case Event
            </th>
            <th>Next Case Event Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cases)
            {
            <tr>
                <td>@item.ClientName</td>
                <td>@item.CaseType</td>
                <td>@item.AssigningAttorneyName</td>
                <td>@item.VolunteerAttorneyName</td>
                <td>@item.NextCaseEventString</td>
                <td>@item.NextCaseDateString</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CaseId">Edit</a><br/>
                    <a asp-action="Details" asp-route-id="@item.CaseId">Details</a><br/>
                    <a asp-action="DeleteConfirmed" asp-route-id="@item.CaseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $().ready(function () {
        $.fn.dataTable.moment('DD MMM YYYY');

        var table = $('#CaseTable').DataTable({
            columnDefs: [
                { type: 'non-empty-string', targets: 4 },
               { type: 'non-empty-string', targets: 5 } 
            ]
        });
    });
</script>